#chrome-tabs {
  position: relative;
  max-height: 300px;
  overflow: auto;
}
#chrome-tabs li {height: 30px; text-overflow: ellipsis; max-width: 100%; white-space: nowrap; overflow: hidden;}
#chrome-tabs img {
  position: relative;
  top: 5px;
  max-height: 20px; width:20px;
  margin-right: 10px;
}

.reconnect-chrome {
	position: absolute; top: 0; z-index: 5;
	padding: 0 5px;
}
.reconnect-chrome span {
	padding: 0 5px;
}
.breakpoint-paused .CodeMirror-linebackground,
.breakpoint.breakpoint-paused .CodeMirror-linenumber{
  background-color: red;
  opacity: 0.5;
}
.breakpoint.breakpoint-paused .breakpoint-icon {
  border-left-color: red;
}
.breakpoint {
/*  color: red;
  background-color: #df7070;
  width: 40px;
  position:absolute;
  left:-30px;
  opacity: 0.5;*/
}
.breakpoint .CodeMirror-linenumber{
  background-color: #6d88ff;
  color: white;
  opacity: 0.5
}

.breakpoint-icon {
  opacity: 0.5;
  width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid #6d88ff;
}
.debug-panel h1 {
  display: inline-block;
  padding-right: 10px;
}
.debug-panel .controls{
  display: inline-block;
}
.debug-panel .call-frames > div {
   border-bottom: 1px dotted;
  padding-bottom :2px;
}
.debug-panel .call-frames div.selected {
  border-bottom: 1px solid;
}
.debug-panel .call-frames div.selected:before {
  content: "➤";
  position: absolute;
  left: 2px;
  padding-top: 3px;
  font-size: smaller;
}
.debug-panel > div > div > h2 {
  text-decoration: underline;
  font-weight: bold;
}
.unpaused .controls .stepover, .unpaused .controls .stepinto, .unpaused .controls .stepout {
  display: none;
}

.call-stack, .variables {
  padding-bottom :10px;
}
.unpaused .call-stack, .unpaused .variables, .unpaused .debug-editor {
  display: none;
}
.call-stack .source, .call-stack .frame-name {
  display: inline-block;
}
.call-stack .source {
  float: right;
}
.call-stack .source-line:before, .call-stack .source-col:before  {
  content: ":";
}

/*
.debug-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  min-width: 300px;
  max-width: 50%;
  padding: 10px;
  background-color: ;
  border-radius: 10px;
  z-index:99;
  overflow: scroll;
  max-height: 100%;
}
.debug-panel h1 {
  float: left;
}
.debug-panel .controls {
  float: left;
  margin-left: 20px;
}
.debug-panel .scope-variables, .debug-panel h2 {
  clear: both;
}
.debug-panel > h2 {
  text-decoration: underline;
}
.call-frames {
  clear: both;
}
.call-frames.empty {
  display: none;
}
.call-frames, .scope-variables {
  padding: 10px;
}
*/
